.quatang-title {
    font-weight: normal;
    position: relative;
    line-height: 1.4;
    &::before {
        position: absolute;
        content: "kỉ niệm";
        top: 70px;
        left: 105px;
    }
    > span {
        color: $blackColor;
    }
}
.banner {
    padding: 30px 0 80px 0;
}
@include breakpoint-down(medium){
    .banner-farther {
        padding: unset;
    }
}
@include breakpoint-down(small){
    .quatang-title::before{
        top: 30px;
        left: 50px;
    }
    .quatang-content {
        padding: 1.5rem 0;
    }
    .banner {
        padding: 30px 0 30px 0;
    }
}