.contact {
    &-flex {
        overflow: hidden;
    }
    padding: 100px 0 80px 0;
    &-form,
    &-banner{
        width: 50%;
    }
    &-box{
        padding-top: 44%;
    }
    &-form{
        position: relative;
        background-color: $blackColor;
        padding: 100px 0;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.form-content {
    color: $whiteColor;
    padding: 0 160px
}
.form-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.form-desc{
    line-height: 1.4;
    margin-bottom: 30px;
}
.form-email{
    padding: 11px 30px 10px;
    background-color: $whiteColor;
}
.form-input {
    outline: none;
    border: none;
    font-family: "SF Pro Display", sans-serif;
}
@include breakpoint-down(xlarge){
    .contact-form {
        padding: 60px 0;
    }
    .form-content {
        padding: 0 30px;
    }
}
@include breakpoint-down(medium){

    .form-content{
        padding: 0 15px;
    }
    .form-desc{
        font-size: 15px;
    }
    .form-title{
        font-size: 25px;
    }
    .form-email{
        padding:11px 10px 11px;  
    }
}
@include breakpoint-down(small){
    .contact-banner{
        display: none;
    }
    .contact-form{
        width: 100%;
    }
    .form-email{
        padding: 5px;
    }
}